{% extends 'base.html' %}
{% load static %}
{% block content %}
   <!-- about section start -->
   <div class="about_section layout_padding">
      <div class="container">
         <div class="about_img"><img src="{% static 'images/about-img1.png' %}" style="max-width: 100%;"></div>
         <h2 class="about_text"><strong>About <span style="color: #000;">Us</span></strong></h2>
         <div class="about_middle">
            <p class="about_lorem">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it </p>
         </div>
         <div class="red_bt">
            <button class="read_more">Read More</button>
         </div>
      </div>
   </div>
   <!-- about section end -->

{% endblock %}