{% extends 'base.html' %}
{% load static %}
{% block content %}
   <!-- our section start -->
   <div class="our_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <h1 class="our_text"><strong>Our<span style="color: #000;">Cycles</span></strong></h1>
               <p class="about_lorem">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
            </div>
         </div>
      </div>
      <div class="our_section_2">
         <div class="our_main">
            {% for p in products %}
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
               <div class="carousel-item active">
                  <img class="d-block w-100" src="{{ p.file.url }}">
               </div>
            </div>
               <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
               </a>
            </div>
            {% endfor %}
          </div>
          <button class="seemore_bt">See More</button>
      </div>
   </div>

{% endblock %}
