{% extends 'base.html' %}
{% load static %}
{% block content %}
   <!-- Testimonial section start -->
   <div class="testimonial_section layout_padding">
      {% for item in feedback_tmp %}
      <div class="container">
         <h1 class="contact_text"><strong>Testimonial</strong></h1>
         <div class="images_3"><img src="{{ item.file.url }}" width="500"></div>
         <h2 class="rooty_text">{{ item.name }}</h2>
         <div><img src="{% static 'images/left-quote.png' %}"></div>
         <p class="dolore_text">{{ item.context }} </p>
         <div class="right_quote"><img src="{% static 'images/right-quote.png' %}"></div>
      </div>
      {% endfor %}
   </div>

   <!-- Testimonial section end -->
{% endblock %}